/* 所有页面都要引入方便快捷使用 */
@charset "utf-8";
/*所有页面共用样式*/
.pevent {pointer-events: none}/* 穿透 */
.bgwhite {background-color:#ffffff;}
.bgf2 {background-color:#f2f2f2;}
.bgf3 {background-color:#F3F3F3;}
.bgf8 {background-color:#f8f8f8;}
.bgf9 {background-color:#f9f9f9;}
.bgf4 {background-color:#F4F4F4;}
.bgred {background-color:#f56c2f;}
.bgred1 {background-color:#df2037;}
.bgred2 {background-color:#ff5142;}
.bgblue {background-color:#1097FF;}
.bgblue2 {background-color: #3b4863;}
.bgblue3 {background-color: #434b59;}
.bgblue4 {background-color: #086272;}
.bgblue5 {background-color: #2a2f38;}
.bgblue6 {background-color: #434b59;}
.bgblack {background-color:black;}
.bgf0 {background-color:#f0f0f0;}
.bge0 {background-color:#E0E0E0;}
.bge3 {background-color:#e3e3e3;}
.bgee {background-color:#EEEEEE;}
.bg363 {background-color:#363640;}
.bgff9 {background-color:#ff9c00;}
.bgf2f5 {background-color:#f2f5f8;}
.bg888 {background-color:#888888;}
.bgaca {background-color:#acafb5;}
.bggreen {background-color:#30D529;}
.bgfb {background:#fbfbfb;}
.bge4f {background-color:#e4f6ff;}
.bged {background-color:#ededed;}
.bg6e7 {background-color:#fff6e7;}
.bg8fa {background-color:#f7f8fa;}
.bg03a {background-color:#03a137;}
.bgblack1 {background-color: #151a24;}
.bgblack2 {background-color: #0f1219;}
.bgyellow {background-color: #e5d094;}
.bgyellow1 {background-color: #5f584c;}
/* 2023-2-5修改 */
.bg_1 {background-color: #232a37;} /* 3a4355 */
.bg_2 {background-color: #1e2430;}
.bg_3 {background-color: #de8e3f;}
.bg_4 {background-color: #01a239;}
.bg_5 {background-color: #ffffff;}

.center{display: block;margin:0 auto}
.c1{color:#f74912}
.b1{background:#f74912}

/*半透明背景*/
.bg00_b{ background-color:rgba(0,0,0,0.5);}

.bold { font-weight:bold;}
.text05em{ font-size:0.5em; }
.text06em{ font-size:0.6em; }
.text07em{ font-size:0.7em; }
.text075em{ font-size:0.75em; }
.text08em{ font-size:0.8em; }
.text085em{ font-size:0.85em; }
.text09em{ font-size:0.9em; }
.text10em{ font-size:1.0em; }
.text11em{ font-size:1.1em; }
.text12em{ font-size:1.2em; }
.text13em{ font-size:1.3em; }
.text1312em {font-size: 1.3125em;}
.text1375em {font-size: 1.375em;}
.text14em{ font-size:1.4em; }
.text15em{ font-size:1.5em; }
.text16em{ font-size:1.6em; }
.text17em{ font-size:1.7em; }
.text175em {font-size: 1.75em;}
.text18em{ font-size:1.8em; }
.text19em{ font-size:1.9em; }
.text20em{ font-size:2.0em; }
.text25em{ font-size:2.5em; }
.text275em {font-size: 2.75em;}
.text30em{ font-size:3.0em; }
.text35em {font-size: 3.0em;}

.textita {font-style: italic;}

.color0 {color:#000000;}
.color1 {color:#1097FF;}
.color2 {color:#999999;}
.color3 {color:#333333;}
.color4 {color:#454545;}
.color5 {color:#ffffff;}
.color6 {color:#666666;}
.color7 {color:#fc0202;}
.color8 {color:#888888;}
.color9 {color:#999999;}
.color10 {color:#fcac0f;}
.color11 {color:#10e196;}
.color12 {color:#cccccc;}
.color13 {color:#ff5142;}
.color14 {color:#138fd7;}
.color15 {color:#a6b6bf;}
.color16 {color:#de8e3f;}
.color17 {color:#4e3b01;} 
.color18 {color:#e5d094;}
.color19 {color:#409cd0;}
.color20 {color:#d0d0d0;}
.color21 {color:#15bb8a;}
.color22 {color:#e3e3e3;} 
.color23 {color:#8ab8d9;}
.color24 {color:#19a7e9;}
.color25 {color:#008000;}
.color26 {color:#3f210d;}
.color27 {color:#b75004;}
.color28 {color:#fd0202;}
.color29 {color:#492902;}
.color30 {color:#fde891;}
.color31 {color:#79776f;}
.color32 {color:#3c4049;}
.color33 {color:#09ab41;}
.color34 {color:#a69a89;}
.color35 {color:#f7d8cb;}
.yellow {color:#e5d094;}
.color36{color: #AEB0B2;}

.bor1px {border:1px solid #f2f2f2;}
.bor1px1 {border:1px solid #d2d2d2;}
.bor1px2 {border:1px solid #f2f2f2;}
.bor1px3 {border:1px solid #ffffff;}
.bor1px3s {border:1px solid #1d82d2;}
.bor1px4 {border:1px solid #1097FF;}
.bor1px5 {border:1px solid #D96104;}
.bor1px6 {border:1px solid #df2037;}
.bor1pxe0 {border:1px solid #e0e0e0;}
.borleft0 {border-left:0;}
.borright0 {border-right:0;}
.borbottom0 {border-bottom:0;}
.bor1pxee {border:1px solid #EEEEEE;}
.bor1px7 {border:1px solid #de8e3f;}
.bor1px8 {border:1px solid #F8F8F8;}
.bor1pxe9 {border:1px solid #ff9c00;}
.bor1pxe10 {border:1px solid #ff5142;}
.bor1pxe10s {border:0.2em solid #ff5142;}
.bor1pxe11 {border:1px solid #f9f9f9;}
.bor1pxe12 {border:1px solid #eaeaea;}
.bor1pxe13 {border:1px solid #CCCCCC;}
.bor1px14 {border:1px solid #929393;}
.bor1px15 {border:1px solid #de8e3f;}
.bor1px16 {border:1px solid #767e8f;}
.bor1px17 {border:1px solid #1e2430;}
.bor1px18 {border:1px solid #f7d8cb;}

.bot1px1 {border-bottom:1px solid #e4e4e4;}
.bot1px2 {border-bottom:1px solid #f2f2f2;}
.bot1px3 {border-bottom:1px solid #EEEEEE;}
.bot1px4 {border-bottom:2px solid #888888;}
.bot1px5 {border-bottom:2px solid #F3F3F3;}
.bot1px6 {border-bottom:1px solid #888888;}
.bot1px7 {border-bottom:1px solid #262a3b;}
.bot1px8 {border-bottom:1px solid #1e2430;}
.bot1px9 {border-bottom:1px solid #1b222e;}

.botd1px1 {border-bottom:1px dashed #a9a9a9;}
.botd1px2 {border-bottom:1px dashed #EEEEEE;}

.borr1px1 {border-right:1px solid #EEEEEE;}
.borr1px2 {border-right:1px solid #e4e4e4;}
.borr1px3 {border-right:1px dashed #acafb5;}

.top1px1 {border-top:1px solid #e4e4e4;}
.top1px2 {border-top:1px solid #f2f2f2;}
.top1px0 {border-top:1px solid #f0f0f0;}
.top1px3 {border-top:1px solid #EEEEEE;}
.top1px4 {border-top:1px solid #CCCCCC;}

.left1px1 {border-left:1px solid #EEEEEE;}
.left1px2 {border-left:1px solid #D5D5D5;}

.bot06em {border-bottom:0.6em solid #f2f2f2;}
.textright {text-align:right;}
.textcenter {text-align:center;}
.textleft {text-align:left;}
.textdecor {text-decoration:underline;}
.textdelline{text-decoration:line-through}
.iblock {display:inline-block;}
.dline {display:inline;}
.block {display:block;}

.opac00 {opacity:0.0;-moz-opacity:0.0;-webkit-opacity:0.0;filter:alpha(opacity=0);}
.opac005 {opacity:0.05;-moz-opacity:0.05;-webkit-opacity:0.05;filter:alpha(opacity=5);}
.opac01 {opacity:0.1;-moz-opacity:0.1;-webkit-opacity:0.1;filter:alpha(opacity=10);}
.opac02 {opacity:0.2;-moz-opacity:0.2;-webkit-opacity:0.2;filter:alpha(opacity=20);}
.opac03 {opacity:0.3;-moz-opacity:0.3;-webkit-opacity:0.3;filter:alpha(opacity=30);}
.opac35 {opacity:0.35;-moz-opacity:0.35;-webkit-opacity:0.35;filter:alpha(opacity=35);}
.opac04 {opacity:0.4;-moz-opacity:0.4;-webkit-opacity:0.4;filter:alpha(opacity=40);}
.opac05 {opacity:0.5;-moz-opacity:0.5;-webkit-opacity:0.5;filter:alpha(opacity=50);}
.opac05diy {opacity:0.7;-moz-opacity:0.7;-webkit-opacity:0.7;filter:alpha(opacity=70);}
.opac06 {opacity:0.6;-moz-opacity:0.6;-webkit-opacity:0.6;filter:alpha(opacity=60);}
.opac07 {opacity:0.7;-moz-opacity:0.7;-webkit-opacity:0.7;filter:alpha(opacity=70);}
.opac08 {opacity:0.8;-moz-opacity:0.8;-webkit-opacity:0.8;filter:alpha(opacity=80);}
.opac09 {opacity:0.9;-moz-opacity:0.9;-webkit-opacity:0.9;filter:alpha(opacity=90);}
.opac10 {opacity:1;-moz-opacity:1;-webkit-opacity:1;filter:alpha(opacity=100);}

.rate45,.deg45 {transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.rate90,.deg90 {transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);-webkit-transform:rotate(90deg);}
.rate180,.deg180 {transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);-webkit-transform:rotate(180deg);}


.w50b {width:50%;}

.w35b {width:35%;}
.w65b {width:65%;}

.w30b {width:30%;}
.w70b {width:70%;}

.w60b {width:60%;}
.w40b {width:40%;}

.w45b {width:45%;}
.w55b {width:55%;}

.w25b {width:25%;}
.w75b {width:75%;}

.w20b {width:20%;}
.w80b {width:80%;}

.w99b {width:99%;}
.w98b {width:98%;}
.w97b {width:97%;}
.w96b {width:96%;}
.w94b {width:94%;}
.w92b {width:92%;}

.w10b {width:10%;}
.w16b {width:16%;}
.w90b {width:90%;}

.w15b {width:15%;}
.w18b {width:18%;}
.w85b {width:85%;}

.w100b {width:100%;}
.w999b {width:99.9%;}
.w998b {width:99.8%;}
.w997b {width:99.7%;}
.w166b {width:16.6666666%;}
.w33b {width:33.33333333%;}
.w32b {width:32%;}

.w675b {width:67.5%;}
.w78b {width:78%;}

.w235b {width:23.5%;}
.w5b {width:5%;}
.w2b {width:2%;}

.ml1b {margin-left:1%;}
.ml2b {margin-left:2%;}
.ml3b {margin-left:3%;}
.ml4b {margin-left:4%;}
.ml5b {margin-left:5%;}
.ml10b {margin-left:10%;}
.ml15b {margin-left:15%;}
.ml25b {margin-left:25%;}
.mr1b {margin-right:1%;}
.mr2b {margin-right:2%;}
.mr3b {margin-right:3%;}
.mr4b {margin-right:4%;}
.mr5b {margin-right:5%;}
.mr10b {margin-right:10%;}
.mr15b {margin-right:15%;}
.mr25b {margin-right:25%;}
.ml3-3b {margin-left:3.3333333%;}
.mr3-3b {margin-right:3.3333333%;}
.ml2-5b {margin-left:2.5%;}
.mr2-5b {margin-right:2.5%;}

.ml01em {margin-left:0.1em;}
.ml02em {margin-left:0.2em;}
.ml03em {margin-left:0.3em;}
.ml04em {margin-left:0.4em;}
.ml05em {margin-left:0.5em;}
.ml06em {margin-left:0.6em;}
.ml07em {margin-left:0.7em;}
.ml08em {margin-left:0.8em;}
.ml09em {margin-left:0.9em;}
.ml10em {margin-left:1.0em;}
.ml11em {margin-left:1.1em;}
.ml12em {margin-left:1.2em;}
.ml13em {margin-left:1.3em;}
.ml14em {margin-left:1.4em;}
.ml15em {margin-left:1.5em;}
.ml20em {margin-left:2.0em;}

.mr01em {margin-right:0.1em;}
.mr02em {margin-right:0.2em;}
.mr03em {margin-right:0.3em;}
.mr04em {margin-right:0.4em;}
.mr05em {margin-right:0.5em;}
.mr06em {margin-right:0.6em;}
.mr07em {margin-right:0.7em;}
.mr08em {margin-right:0.8em;}
.mr09em {margin-right:0.9em;}
.mr10em {margin-right:1.0em;}
.mr11em {margin-right:1.1em;}
.mr12em {margin-right:1.2em;}
.mr13em {margin-right:1.3em;}
.mr14em {margin-right:1.4em;}
.mr15em {margin-right:1.5em;}

.mt1b {margin-top:1%;}
.mt2b {margin-top:2%;}
.mt3b {margin-top:3%;}
.mt4b {margin-top:4%;}
.mt5b {margin-top:5%;}
.mb1b {margin-bottom:1%;}
.mb2b {margin-bottom:2%;}
.mb3b {margin-bottom:3%;}
.mb4b {margin-bottom:4%;}
.mb5b {margin-bottom:5%;}

.mt01em {margin-top:0.1em;}
.mt015em {margin-top:0.15em;}
.mt013em {margin-top:0.13em;}
.mt02em {margin-top:0.2em;}
.mt025em {margin-top:0.25em;}
.mt03em {margin-top:0.3em;}
.mt04em {margin-top:0.4em;}
.mt05em {margin-top:0.5em;}
.mt055em {margin-top:0.55em;}
.mt06em {margin-top:0.6em;}
.mt07em {margin-top:0.7em;}
.mt08em {margin-top:0.8em;}
.mt09em {margin-top:0.9em;}
.mt10em {margin-top:1.0em;}
.mt11em {margin-top:1.1em;}
.mt12em {margin-top:1.2em;}
.mt125em {margin-top:1.25em;}
.mt13em {margin-top:1.3em;}
.mt14em {margin-top:1.4em;}
.mt15em {margin-top:1.5em;}
.mt16em {margin-top:1.6em;}
.mt17em {margin-top:1.7em;}
.mt18em {margin-top:1.8em;}
.mt19em {margin-top:1.9em;}
.mt20em {margin-top:2.0em;}
.mt24em {margin-top:2.4em;}
.mt28em {margin-top:2.8em;}
.mt34em {margin-top:3.4em;}
.mt40em {margin-top:4.0em;}
.mb01em {margin-bottom:0.1em;}
.mb02em {margin-bottom:0.2em;}
.mb03em {margin-bottom:0.3em;}
.mb04em {margin-bottom:0.4em;}
.mb05em {margin-bottom:0.5em;}
.mb06em {margin-bottom:0.6em;}
.mb07em {margin-bottom:0.7em;}
.mb08em {margin-bottom:0.8em;}
.mb09em {margin-bottom:0.9em;}
.mb10em {margin-bottom:1.0em;}
.mb11em {margin-bottom:1.1em;}
.mb12em {margin-bottom:1.2em;}
.mb13em {margin-bottom:1.3em;}
.mb14em {margin-bottom:1.4em;}
.mb15em {margin-bottom:1.5em;}
.mb16em {margin-bottom:1.6em;}
.mb20em {margin-bottom:2.0em;}
.mb28em {margin-bottom:2.8em;}

.pt1b {padding-top:1%}
.pt2b {padding-top:2%}
.pt3b {padding-top:3%}
.pt4b {padding-top:4%}
.pt5b {padding-top:5%}
.pb1b {padding-bottom:1%}
.pb2b {padding-bottom:2%}
.pb3b {padding-bottom:3%}
.pb4b {padding-bottom:4%}
.pb5b {padding-bottom:5%}
.pr2-5b {padding-right:2.5%;}
.pl2-5b {padding-left:2.5%;}

/*间距*/
.padding0 {padding:0;}
.pt01em{ padding-top:0.1em;}
.pt02em{ padding-top:0.2em;}
.pt03em{ padding-top:0.3em;}
.pt04em{ padding-top:0.4em;}
.pt05em{ padding-top:0.5em;}
.pt06em{ padding-top:0.6em;}
.pt07em{ padding-top:0.7em;}
.pt08em{ padding-top:0.8em;}
.pt09em{ padding-top:0.9em;}
.pt10em{ padding-top:1.0em;}
.pt11em{ padding-top:1.1em;}
.pt12em{ padding-top:1.2em;}
.pt13em{ padding-top:1.3em;}
.pt14em{ padding-top:1.4em;}
.pt15em{ padding-top:1.5em;}
.pt18em{ padding-top:1.8em;}
.pt20em{ padding-top:2.0em;}
.pt25em{ padding-top:2.5em;}

.pb01em {padding-bottom:0.1em;}
.pb02em {padding-bottom:0.2em;}
.pb03em {padding-bottom:0.3em;}
.pb04em {padding-bottom:0.4em;}
.pb05em {padding-bottom:0.5em;}
.pb06em {padding-bottom:0.6em;}
.pb07em {padding-bottom:0.7em;}
.pb08em {padding-bottom:0.8em;}
.pb09em {padding-bottom:0.9em;}
.pb10em {padding-bottom:1.0em;}
.pb11em {padding-bottom:1.1em;}
.pb12em {padding-bottom:1.2em;}
.pb13em {padding-bottom:1.3em;}
.pb14em {padding-bottom:1.4em;}
.pb15em {padding-bottom:1.5em;}
.pb18em {padding-bottom:1.8em;}
.pb20em {padding-bottom:2.0em;}

.pl02em {padding-left:0.2em;}
.pl03em {padding-left:0.3em;}
.pl04em {padding-left:0.4em;}
.pl05em {padding-left:0.5em;}

.pr02em {padding-right:0.2em;}
.pr03em {padding-right:0.3em;}
.pr04em {padding-right:0.4em;}
.pr05em {padding-right:0.5em;}

.pl06em {padding-left:0.6em;}
.pr06em {padding-right:0.6em;}

.pl07em {padding-left:0.7em;}
.pr07em {padding-right:0.7em;}

.pl08em {padding-left:0.8em;}
.pr08em {padding-right:0.8em;}

.pl10em {padding-left:1.0em;}
.pr10em {padding-right:1.0em;}

.pl12em {padding-left:1.2em;}
.pr12em {padding-right:1.2em;}

.pl15em {padding-left:1.5em;}
.pr15em {padding-right:1.5em;}

.pl20em {padding-left:2.0em;}
.pr20em {padding-right:2.0em;}

/* 园角 */
.brad50b {border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;}
.brad01em {border-radius:0.10em;-moz-border-radius:0.10em;-webkit-border-radius:0.10em;}
.brad02em {border-radius:0.20em;-moz-border-radius:0.20em;-webkit-border-radius:0.20em;}
.brad03em {border-radius:0.30em;-moz-border-radius:0.30em;-webkit-border-radius:0.30em;}
.brad04em {border-radius:0.40em;-moz-border-radius:0.40em;-webkit-border-radius:0.40em;}
.brad05em {border-radius:0.50em;-moz-border-radius:0.50em;-webkit-border-radius:0.50em;}
.brad06em {border-radius:0.60em;-moz-border-radius:0.60em;-webkit-border-radius:0.60em;}
.brad07em {border-radius:0.70em;-moz-border-radius:0.70em;-webkit-border-radius:0.70em;}
.brad08em {border-radius:0.80em;-moz-border-radius:0.80em;-webkit-border-radius:0.80em;}
.brad09em {border-radius:0.90em;-moz-border-radius:0.90em;-webkit-border-radius:0.90em;}
.brad10em {border-radius:1.0em;-moz-border-radius:1.0em;-webkit-border-radius:1.0em;}
.brad11em {border-radius:1.1em;-moz-border-radius:1.1em;-webkit-border-radius:1.1em;}
.brad12em {border-radius:1.2em;-moz-border-radius:1.2em;-webkit-border-radius:1.2em;}
.brad13em {border-radius:1.3em;-moz-border-radius:1.3em;-webkit-border-radius:1.3em;}
.brad14em {border-radius:1.4em;-moz-border-radius:1.4em;-webkit-border-radius:1.4em;}
.brad15em {border-radius:1.5em;-moz-border-radius:1.5em;-webkit-border-radius:1.5em;}
.brad16em {border-radius:1.4em;-moz-border-radius:1.6em;-webkit-border-radius:1.6em;}
.brad20em {border-radius:2.0em;-moz-border-radius:2.0em;-webkit-border-radius:2.0em;}
.brad-right-25b {border-radius:0 25% 25% 0;-moz-border-radius:0 25% 25% 0;-webkit-border-radius:0 25% 25% 0;}
.brad-right-50b {border-radius:0 50% 50% 0;-moz-border-radius:0 50% 50% 0;-webkit-border-radius:0 50% 50% 0;}
.brad-right-35b {border-radius:0 35% 35% 0;-moz-border-radius:0 35% 35% 0;-webkit-border-radius:0 35% 35% 0;}
.brad-right-40b {border-radius:0 40% 40% 0;-moz-border-radius:0 40% 40% 0;-webkit-border-radius:0 40% 40% 0;}

.pl2b {padding-left:2%;}
.pr2b {padding-right:2%;}
.pl3b {padding-left:3%;} .pt3b {padding-top:3%;}
.pr3b {padding-right:3%;} .pb3b {padding-bottom:3%;}
.pl5b {padding-left:5%;}
.pl10b {padding-left:10%;}
.pl15b {padding-left:15%;}

.pl4b {padding-left:4%;}
.pr4b {padding-right:4%;}
.pl5b {padding-left:5%;}
.pr5b {padding-right:5%;}
.pr10b {padding-right:10%;}

.lineno {line-height:normal;}
.line08em {line-height:0.8em;}
.line09em {line-height:0.9em;}
.line095em {line-height:0.95em;}
.line10em {line-height:1.0em;}
.line11em {line-height:1.1em;}
.line12em {line-height:1.2em;}
.line13em {line-height:1.3em;}
.line14em {line-height:1.4em;}
.line15em {line-height:1.5em;}
.line16em {line-height:1.6em;}
.line17em {line-height:1.7em;}
.line18em {line-height:1.8em;}
.line19em {line-height:1.9em;}
.line20em {line-height:2.0em;}
.line21em {line-height:2.1em;}
.line22em {line-height:2.2em;}
.line23em {line-height:2.3em;}
.line24em {line-height:2.4em;}
.line25em {line-height:2.5em;}
.line26em {line-height:2.6em;}
.line27em {line-height:2.7em;}
.line28em {line-height:2.8em;}
.line29em {line-height:2.9em;}
.line30em {line-height:3.0em;}
.line31em {line-height:3.1em;}
.line3125em {line-height:3.125em;}
.line32em {line-height:3.2em;}
.line325em {line-height:3.25em;}
.line33em {line-height:3.3em;}
.line34em {line-height:3.4em;}
.line35em {line-height:3.5em;}
.line37em {line-height:3.7em;}
.line38em {line-height:3.8em;}
.line40em {line-height:4.0em;}
.line44em {line-height:4.4em;}

.fl {float:left;}
.fr {float:right;}
.clear {clear:both;display:block;}
.ovh {overflow:hidden;}

.h1px {height:1px;}
.h00em {height:0.0em;}.h01em {height:0.1em;}.h02em {height:0.2em;}.h03em {height:0.3em;}.h04em {height:0.4em;}
.h05em {height:0.5em;}.h06em {height:0.6em;}.h07em {height:0.7em;}.h08em {height:0.8em;}.h09em {height:0.9em;}
.h10em {height:1.0em;}.h11em {height:1.1em;}.h12em {height:1.2em;}.h13em {height:1.3em;}.h14em {height:1.4em;}
.h15em {height:1.5em;}.h16em {height:1.6em;}.h17em {height:1.7em;}.h18em {height:1.8em;}.h19em {height:1.9em;}
.h20em {height:2.0em;}.h21em {height:2.1em;}.h22em {height:2.2em;}.h23em {height:2.3em;}.h24em {height:2.4em;}
.h25em {height:2.5em;}.h26em {height:2.6em;}.h27em {height:2.7em;}.h28em {height:2.8em;}.h29em {height:2.9em;}
.h30em {height:3.0em;}.h31em {height:3.1em;}.h32em {height:3.2em;}.h33em {height:3.3em;}.h34em {height:3.4em;}
.h35em {height:3.5em;}.h36em {height:3.6em;}.h38em {height:3.8em;}.h40em {height:4.0em;}.h42em {height:4.2em;}
.h44em {height:4.4em;}.h45em {height:4.5em;}.h46em {height:4.6em;}.h50em {height:5.0em;}.h56em {height:5.6em;}
.h60em {height:6.0em;}
.h86em {height:8.6em;}
.h375em {height:3.75em;}
.h3125em {height:3.125em;}

.w1px {width:1px;}
.w00em {width:0.0em;}.w01em {width:0.1em;}.w02em {width:0.2em;}.w03em {width:0.3em;}.w04em {width:0.4em;}
.w05em {width:0.5em;}.w06em {width:0.6em;}.w07em {width:0.7em;}.w08em {width:0.8em;}.w09em {width:0.9em;}
.w10em {width:1.0em;}.w11em {width:1.1em;}.w12em {width:1.2em;}.w13em {width:1.3em;}.w14em {width:1.4em;}
.w15em {width:1.5em;}.w16em {width:1.6em;}.w17em {width:1.7em;}.w18em {width:1.8em;}.w19em {width:1.9em;}
.w20em {width:2.0em;}.w21em {width:2.1em;}.w22em {width:2.2em;}.w23em {width:2.3em;}.w24em {width:2.4em;}
.w25em {width:2.5em;}.w26em {width:2.6em;}.w27em {width:2.7em;}.w28em {width:2.8em;}.w29em {width:2.9em;}
.w30em {width:3.0em;}.w31em {width:3.1em;}.w32em {width:3.2em;}.w33em {width:3.3em;}.w34em {width:3.4em;}.w35em {width:3.5em;}
.w40em {width:4.0em;}.w41em {width:4.1em;}.w44em {width:4.4em;}.w45em {width:4.5em;}
.w50em {width:5.0em;}
.w55em {width:5.5em;}
.w58em {width:5.8em;}
.w60em {width:6.0em;}
.w65em {width:6.5em;}
.w70em {width:7.0em;}

/*浮动*/
.pos1 , .pos_abs {position:absolute;}
.pos2 {position:relative;}
.pos3 {position:fixed;}
.right0 {right:0;}
.left0 {left:0;}
.top0{ top:0;}
.bottom0{ bottom:0;}

.left100{ left:100%;}
.right100{ right:100%;}
.top3 {top:3em;}
.hide{ display:none;} /*隐藏*/

/* 模拟单选复选框 */
.checkbox {display:inline-block;height:1em;line-height:1em;overflow:hidden;width:1em;border:1px solid #cccccc;border-radius:0.1em;-moz-border-radius:0.1em;-webkit-border-radius:0.1em;}
.checkbox .rbox {display:inline-block;float:left;width:0.5em;height:0.5em;line-height:0.5em;overflow:hidden;float:left;margin-left:0.25em;margin-top:0.25em;border-radius:0.1em;-moz-border-radius:0.1em;-webkit-border-radius:0.1em;}
.checkbox.over {border:1px solid #ff6600;}
.checkbox.over .rbox {background:#ff6600;color:#ffffff;}

.checkbox.style1.over {border:1px solid #1d82d2;}
.checkbox.style1.over .rbox {background:#1d82d2;color:#ffffff;}

.checkbox.style2 , .checkbox.style2 .rbox {border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;}
.checkbox.style2.over {border:1px solid #1d82d2;}
.checkbox.style2.over .rbox {background:#1d82d2;color:#ffffff;}

.checkbox.style3 {height:1.2em;line-height:1.2em;width:1.2em;}
.checkbox.style3 , .checkbox.style3 .rbox {border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;}
.checkbox.style3 .rbox {width:0.6em;height:0.6em;line-height:0.6em;margin-left:0.3em;margin-top:0.3em;}
.checkbox.style3.over {border:1px solid #1d82d2;}
.checkbox.style3.over .rbox {background:#1d82d2;color:#ffffff;}

.checkbox.style4 {height:1.2em;line-height:1.2em;width:1.2em;}
.checkbox.style4 .rbox {width:0.6em;height:0.6em;line-height:0.6em;margin-left:0.3em;margin-top:0.3em;}
.checkbox.style4.over {border:1px solid #1d82d2;}
.checkbox.style4.over .rbox {background:#1d82d2;color:#ffffff;}

.checkbox.style5 {height:1.2em;line-height:1.2em;width:1.2em;}
.checkbox.style5 , .checkbox.style5 .rbox {border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;}
.checkbox.style5 .rbox {width:1.2em;height:1.2em;line-height:1.2em;margin-left:0.0em;margin-top:0.0em;float:left;overflow:hidden;text-align:center;}
.checkbox.style5 img {display:none;width:0.8em;float:left;margin:0.2em;height:auto;}
.checkbox.style5.over img {display:inline-block;}
.checkbox.style5.over {background:#ff5142;color:#ffffff;border:1px solid #ff5142;}
.checkbox.style5.over {background:#FFFFFF;color:#ffffff;border:1px solid #ff5142;}
.checkbox.style5.over .rbox {background:none;}

.checkbox.style6 {height:1.2em;line-height:1.2em;width:1.2em;}
.checkbox.style6 , .checkbox.style6 .rbox {border-radius:0.2em;-moz-border-radius:0.2em;-webkit-border-radius:0.2em;}
.checkbox.style6 .rbox {width:1.2em;height:1.2em;line-height:1.2em;margin-left:0.0em;margin-top:0.0em;float:left;overflow:hidden;text-align:center;}
.checkbox.style6 img {display:none;width:0.8em;float:left;margin:0.2em;height:auto;}
.checkbox.style6.over img {display:inline-block;}
.checkbox.style6.over {background:#ff5142;color:#ffffff;border:1px solid #ff5142;}
.checkbox.style6.over .rbox {background:none;}

.checkbox.style7 {background:#FFFFFF; height:1.6em;line-height:1.6em;width:1.6em;}
.checkbox.style7 , .checkbox.style7 .rbox {border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;}
.checkbox.style7 .rbox {width:1.6em;height:1.6em;line-height:1.6em;margin-left:0.0em;margin-top:0.0em;float:left;overflow:hidden;text-align:center;}
.checkbox.style7 img {display:none;width:1em;float:left;margin:0.3em;height:auto;}
.checkbox.style7.over img {display:inline-block;}
.checkbox.style7.over {background:#FFFFFF;color:#ffffff;border:1px solid #FFFFFF;}
.checkbox.style7.over .rbox {background:none;}

.checkbox.style8 {height:1.2em;line-height:1.2em;width:1.2em;}
.checkbox.style8 , .checkbox.style8 .rbox {border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;}
.checkbox.style8 .rbox {width:1.2em;height:1.2em;line-height:1.2em;margin-left:0.0em;margin-top:0.0em;float:left;overflow:hidden;text-align:center;}
.checkbox.style8 img {display:none;width:0.8em;float:left;margin:0.2em;height:auto;}
.checkbox.style8.over img {display:inline-block;}
.checkbox.style8.over {background:#ff5142;color:#ffffff;border:1px solid #ff5142;}
.checkbox.style8.over .rbox {background:none;}

.checkbox.style9 {height:0.8em;line-height:0.8em;width:0.8em;}
.checkbox.style9 , .checkbox.style9 .rbox {border-radius:0.2em;-moz-border-radius:0.2em;-webkit-border-radius:0.2em;}
.checkbox.style9 .rbox {width:0.8em;height:0.8em;line-height:0.8em;margin-left:0.0em;margin-top:0.0em;float:left;overflow:hidden;text-align:center;}
.checkbox.style9 img {display:none;width:0.4em;float:left;margin:0.2em;height:auto;}
.checkbox.style9.over img {display:inline-block;}
.checkbox.style9.over {background:#ff5142;color:#ffffff;border:1px solid #ff5142;}
.checkbox.style9.over .rbox {background:none;}


.radio {display:inline-block;height:0.8em;line-height:0.8em;overflow:hidden;width:0.8em;border:1px solid #999999;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;padding:0;margin:0;}
.radio .rbox {display:inline-block;width:0.4em;height:0.4em;line-height:0.4em;overflow:hidden;float:left;margin-left:0.2em;margin-top:0.2em; border:0;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;font-size:1em;}
.radio.over {border:1px solid #ff6600;}
.radio.over .rbox {background:#ff6600;color:#ffffff;}

.radio.style1 {height:1.1em;line-height:1.1em;width:1.1em;}
.radio.style1 .rbox {width:1.1em;height:1.1em;line-height:1.1em;margin-left:0.0em;margin-top:0.0em;}
.radio.style1.over {border:1px solid #3c92d7;}
.radio.style1.over .rbox {background:#3c92d7;color:#ffffff;}
.radio.style1 .rbox img {display:none;width:0.7em;float:left;margin:0.2em;height:auto;}
.radio.style1.over .rbox img {display:inline-block;}

.radio.style2 {background:#FFFFFF;height:1.2em;line-height:1.2em;width:1.2em;}
.radio.style2 .rbox {width:1.2em;height:1.2em;line-height:1.2em;margin-left:0.0em;margin-top:0.0em;}
.radio.style2.over {border:1px solid #ff9c00;background:#ff9c00;}
.radio.style2.over .rbox {background:#FFFFFF;color:#ffffff; width:0.5em; height:0.5em; margin-left:0.35em; margin-top:0.35em;}
.radio.style2 .rbox img {display:none;width:0.7em;float:left;margin:0.2em;height:auto;}
.radio.style2.over .rbox img {display:inline-block;}

.radio.style3 {background:#FFFFFF;height:0.8em;line-height:0.8em;width:0.8em;}
.radio.style3 .rbox {width:0.8em;height:0.8em;line-height:0.8em;margin-left:0.0em;margin-top:0.0em;}
.radio.style3.over {border:1px solid #ff5142; background:#ff5142;}
.radio.style3.over .rbox {background:#FFFFFF;color:#ffffff; width:0.6em;height:0.6em;line-height:0.6em; margin-left:0.1em; margin-top:0.1em;}

.radio.style4 {background:#FFFFFF;height:0.8em;line-height:0.8em;width:0.8em;}
.radio.style4 .rbox {width:0.4em;height:0.4em;line-height:0.4em;margin-left:0.2em;margin-top:0.2em;}
.radio.style4.over {border:1px solid #ff5142; background:#FFFFFF;}
.radio.style4.over .rbox {background:#ff5142;color:#ffffff; width:0.4em;height:0.4em;line-height:0.4em;margin-left:0.2em;margin-top:0.2em;}

.select {position:absolute;top:0;left:0;bottom:0;width:100%;opacity:0;}
.End {height:2.5em;line-height:2.5em;text-align:center;color:#333333;}

/* 横着的3个点点 */
.dian {font-size:1em;display:inline-block;text-align:center;overflow:hidden;height:3em;}
.dian .s {display:inline-block;height:0.5em;width:0.5em;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;margin-left:0.20em;margin-right:0.20em;overflow:hidden;background:#1d82d2;float:left;margin-top:1.25em;}
.dian .s.s2 {background:#4a9bdb;}
.dian .s.s3 {background:#a5cded;}
.redD {display:inline-block;font-size:1em;height:0.4em;width:0.4em;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;background:#D0070A;}

.hand {cursor:hand;cursor:pointer;}
.boxs-e3-05em {box-shadow:0 0 0.3em #e3e3e3;}
.boxs-c-05em {box-shadow:0 0 0.5em #cccccc;}
.boxs-c-10em {box-shadow:0 0 1.0em #cccccc;}
.boxs-c-10em1 {box-shadow:0 0 1.0em #024f8a;}
.boxs-9-10em {box-shadow:0 0 1.0em #999999;}
.boxs-fa-15em {box-shadow:0 0.5em 1.5em #ffa39b;}
.boxs-88-15em {box-shadow:0 0.5em 1.5em #888888;}
.boxs-c-15em {box-shadow:0 0 1.5em #cccccc;}
.boxs-c-15em1 {box-shadow:0 0 1.5em #0263ad;}
.boxs-e3-05em {box-shadow:0 0 0.5em #e3e3e3;}
.boxs-f0-10em {box-shadow:0 0 1.5em #dddddd;}
.boxs-black-10em {box-shadow:0 0 1.0em black;}
.txt-boxs-02em-z {text-shadow:0 0 0.2em #013404;}
.boxs_btn{box-shadow:0 0.3em 0.8em rgba(255,81,66,0.8);} /*按钮投影*/
.boxs_fot{box-shadow:0 0 1em rgba(0,0,0,0.1);} /*底部菜单向上投影*/
.boxs_fob{box-shadow:0 0.1em 0.5em rgba(0,0,0,0.1);} /*漂浮按钮投影*/

.italic {font-style:italic;} /* 斜体 */
.boxsin-f0-10em {box-shadow:inset 0.5em 0px 1em -0.5em #e3e3e3;}
.boxsin-tb-10em {box-shadow:inset 0px -1em 1em -0.2em #000000,inset 0px 1em 1em -0.2em #000000;}
.texts-e3-05em {text-shadow:0 0 0.5em #e3e3e3;}

/* 自定义插件CSS效果 end */
.zindex0 {z-index:0;}
.zindex1 {z-index:1;}
.zindex2 {z-index:2;}
.zindex97 {z-index:97;}
.zindex98 {z-index:98;}
.zindex99 {z-index:99;}
.zindex100 {z-index:100;}
.zindex101 {z-index:101;}

.textword {white-space:normal;word-break:break-all;} /* 文字强制换行 */
.vtop {vertical-align:top;}
.verm {vertical-align:middle;}
.vertb{display:table-cell;}
.vertr{display:table;}

.fontst {font-family:"宋体";}
.fontyh {font-family:FontAwesome,"微软雅黑","黑体",Arial;}
.mcen {margin-left:auto;margin-right:auto;}
.fontsp {writing-mode:tb-rl;} /* 竖排文字 */
.let01em {letter-spacing:0.1em;}
.let02em {letter-spacing:0.2em;}
.let03em {letter-spacing:0.3em;}

/*负距离*/
.mt-01em{ margin-top:-0.1em;}
.mt-02em{ margin-top:-0.2em;}
.mt-03em{ margin-top:-0.3em;}
.mt-04em{ margin-top:-0.4em;}
.mt-05em{ margin-top:-0.5em;}
.mt-08em{ margin-top:-0.8em;}
.mt-09em{ margin-top:-0.9em;}
.mt-10em{ margin-top:-1.0em;}
.mt-12em{ margin-top:-1.2em;}
.mt-15em{ margin-top:-1.5em;}
.mt-30em{ margin-top:-3em;}

/*三角形*/
.triangle-bottomright {width: 0; height: 0; border-bottom: 0.5em solid #ff5142; border-left: 0.5em solid transparent;}

.fw100 {font-weight:100;}
.fw200 {font-weight:200;}
.fw300 {font-weight:300;}
.fw400 {font-weight:400;}
.dyfx {display: flex;}
.flexbox {display: flex;align-items: center;} /* 内容（含图片）垂直居中 */
.lincen {display: table-cell;vertical-align: middle;}
.input1 input::-webkit-input-placeholder , .input1 textarea::-webkit-input-placeholder {color:#9d5e10;}

.scrol {display:webkit-box;}
.scrol::-webkit-scrollbar-thumb {background:#ffffff;}
.scrol::-moz-scrollbar-thumb {background:#ffffff;}
.scrol::scrollbar-thumb {background:#ffffff;}

.jb1 {
	background:linear-gradient(left, #f90101,#f37835);	
	background:-webkit-gradient(linear, 100% 0, 0 0%, from(#f90101), to(#f37835));
	background:gradient(linear, 100% 0, 0 0%, from(#f90101), to(#f37835));
	background:-moz-linear-gradient(left, #f90101,#f37835);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f90101,endColorstr=#f37835,grandientType=0);
	display:inline-block;
	border-radius:1.4em 0.3em 0.3em 1.4em;-moz-border-radius:1.4em 0.3em 0.3em 1.4em;-webkit-border-radius:1.4em 0.3em 0.3em 1.4em;
}

.tBtn1 {background: linear-gradient(to right, #1a70ea, #00bffa);-moz-background: linear-gradient(to right, #1a70ea, #00bffa);-webkit-background: linear-gradient(to right, #1a70ea, #00bffa);-o-background: linear-gradient(to right, #1a70ea, #00bffa);}

.fdem {font-size:1.1em;} /* 整体放大倍数 */
.v-center {left: 50%; top: 50%; transform: translate(-50%,-50%); } /* 垂直居中，本层必须要有上浮才行 */

/* justify-content属性定义了项目在主轴上的对齐方式。 */
.fx{flex: 1;}
.juct-fs{justify-content: flex-start}
.juct-fe{justify-content:flex-end }
.juct-c{justify-content:center }
.juct-sb{justify-content:space-between}
.juct-sa{justify-content:space-around}